.navBar {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 10px 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
.listItems {
  display: flex;
  justify-content: center;
  gap: 200px;
}
.listItems li {
  list-style: none;
}
.listItems li a {
  text-decoration: none;
  font-size: 30px;
}

.nav-link:hover::after {
  width: 100%;
}
