.SearchBox {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}
.search {
  width: 200px;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}
.searchBtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchBtn:hover {
  background-color: #0056b3;
}
