.navbar {
  display: flex;
  justify-content: center;
  font-size: 30px;
  /* z-index: 10;
  position: sticky;
  top: 0%; */
}
.navItems {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  padding: 10px 40px;
  color: white;
  gap: 290px;
  border-radius: 10px;
}
.navItems a {
  text-decoration: none;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.navItems a:hover {
  text-decoration: underline;
}
