body {
  background: linear-gradient(to right, #1e3a8a, #2563eb);
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.container {
  height: 350px;
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.227);
  width: 300px;
  text-align: center;
  border-radius: 20px;
  margin-top: 80px;
  padding: 10px;
  padding-top: 20px;
  box-sizing: border-box;
  background-color: rgba(239, 223, 223, 0.871);
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  color: black;
}
.container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 12px 32px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
  animation: fadeIn 0.6s ease-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 5;
    transform: translateY(0);
  }
}

.productImage {
  width: 150px;
  height: 150px;
}
.productName {
  font-size: 20px;
}
.productPrice {
  font-size: 25px;
  font-weight: bold;
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.productDescription {
  font-size: 12px;
}
.noItems {
  text-align: center;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: red;
  padding-top: 10%;
}
