.searchBox {
  width: 250px;
  font-size: 20px;
  border-radius: 5px;
  padding: 6px;
  border: 1px solid white;
}
input {
  transition: all 0.3s ease;
}
.search {
  text-align: center;
  /* margin-top: 50px; */
  transition: all 0.3s ease;
  display: flex;
  gap: 10px;
}
.searchButton {
  background: linear-gradient(135deg, #2e5df9, #a777e3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 23px;
  transition: transform 0.2s ease;
  width: 100px;
  text-decoration: none;
}

.searchButton:hover {
  transform: scale(1.1);
}
